.bg-aboutus {
  background-image: url(../assets/images/bg-plane-triangle.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: cover;
  height: 728px;
  background-position: 50% 100%;
  z-index: -1;
}

.tagline {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.tagline h1 {
  color: var(--Neutral-01, var(--Light-background, #fff));
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.tagline p {
  color: var(--Neutral-01, var(--Light-background, #fff));
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.polygon {
  position: absolute;
  bottom: 0;
}

/* @media screen and (min-width: 1440px) {
  .bg-aboutus {
    background-position: 0% 38.5%;
  }
}

@media screen and (min-width: 1500px) {
  .bg-aboutus {
    background-size: cover;
    height: 1200px;
    background-position: 0% 41%;
  }
} */
