.left {
  background-color: #3e7bfa;
  height: 100vh;
  display: flex;
  /* margin-bottom: auto; */
  flex-direction: column;
  justify-content: space-between;
}
.tittle-left{
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
  font-size: 28px;
}
.password-label {
  font-size: 16px;
  color: #3e7bfa;
}
.form-password {
    position: relative;
}
